<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>I'm a junior full stack web developer living in Palm Beach, Florida.</p>
    <p>When I'm not busy coding, I'm either at the beach, exploring the local
      neighborhoods with my dog, or cuddled up with my cat
      and a good book or a copy of The New Yorker.</p>
    <p>I live on iced coffee, tacos, craft beer, and cheap red wine.</p>
    <p>I fear boredom and bunny rabbits.</p>
  </div>
  <div class="col-2 homepage_content">
    <h2>Things I've Written</h2>
    <hr>
    <% @posts.each do |post| %>
      <h3><a href="#"><%= link_to post.title, post %></a></h3>
      <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
    <% end %>
  </div>
  <div class="col-3 homepage_content">
    <h2>Things I've Built</h2>
    <hr>
    <% @projects.each do |project| %>
      <h3><a href="#"><%= link_to project.title, project %></a></h3>
      <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
    <% end %>
  </div>
</div>
